@{
    com.yrtech.SurveyWeb.Models.AccountDto LoginUser = (com.yrtech.SurveyWeb.Models.AccountDto)Session["LoginUser"];
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Content/font-awesome.css" rel="stylesheet">
    <link href="~/Content/minimal/_all.css" rel="stylesheet" />
    <link href="~/Content/minimal/blue.css" rel="stylesheet" />

    <!-- bootstrap-progressbar -->
    <link href="~/Content/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="~/Content/daterangepicker.css" rel="stylesheet">

    <!-- Datatables -->
    <link href="~/Content/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/fixedHeader.bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/scroller.bootstrap.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/Content/custom.css" rel="stylesheet" />
    <link href="~/Content/select/css/bootstrap-select.css" rel="stylesheet" />
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="../Home/Index" class="site_title"><i class="fa fa-paw"></i> <span>明检云平台</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            <img src="/Content/image/user.png" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>欢迎,</span>
                            <h2>@LoginUser.AccountName</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                <li class="active">
                                    <a><i class="fa fa-home"></i> 基本信息管理 <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/System/BrandIndex">品牌</a></li>
                                        <li class="main-page"><a href="/Account/AccountIndex">账号</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-home"></i> 品牌内容管理 <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/BrandContent/ShopIndex">经销商信息</a></li>
                                        <li><a href="/BrandContent/ProjectIndex">期号</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-home"></i> 期号内容管理 <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/ProjectContent/SubjectIndex">体系</a></li>
                                        <li><a href="/ProjectContent/SubjectLinkIndex">流程类型</a></li>
                                        <li><a href="/ProjectContent/ShopByProjectIndex">执行经销商</a></li>
                                        <li><a href="/ProjectContent/RecheckErrorTypeIndex">复审错误类型</a></li>
                                        <li><a href="/ProjectContent/RecheckTypeIndex">复审类型</a></li>
                                        <li><a href="/ProjectContent/SubjectTypeExamIndex">试卷类型</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-home"></i> 申诉管理 <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/Appeal/AppealImport">申诉数据生成</a></li>
                                        <li><a href="/Appeal/AppealIndex">申诉反馈列表</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-home"></i> 复审管理 <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/Recheck/Index">复审列表</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-home"></i> 轻松拍 <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/EasyPhoto/EasyPhotoProjectIndex">期号管理</a></li>
                                        <li><a href="/EasyPhoto/EasyPhotoUserInfoIndex">账号管理</a></li>
                                        <li><a href="/EasyPhoto/EasyPhotoUserInfoShopIndex">账号经销商</a></li>
                                        <li><a href="/EasyPhoto/EasyPhotoCheckTypeIndex">检查类型管理</a></li>
                                        <li><a href="/EasyPhoto/EasyPhotoNoteIndex">备注管理</a></li>
                                        <li><a href="/EasyPhoto/EasyPhotoPhotoListIndex">照片名称管理</a></li>
                                        <li><a href="/EasyPhoto/EasyPhotoOtherPropertyIndex">其他属性管理</a></li>
                                        <li><a href="/EasyPhoto/EasyPhotoAnswerIndex">清单管理</a></li>
                                        
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        @*<div class="nav toggle">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                            </div>*@
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="/Content/image/user.png" alt="">@LoginUser.AccountName
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right" style="width:100px">
                                    <li><a href="/Account/ChangePassword"> 修改密码</a></li>
                                    <li><a href="/Account/Logoff"><i class="fa fa-sign-out pull-right"></i> 注销</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @RenderBody()
            </div>
        </div>
    </div>
    <script>
        var loginUser = JSON.parse('@Html.Raw(Json.Encode(LoginUser))');
    </script>
    <!-- jQuery -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Scripts/fastclick.js"></script>
    <!-- gauge.js -->
    <script src="~/Scripts/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/Scripts/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/Scripts/icheck.js"></script>
    <!-- Skycons -->
    <script src="~/Scripts/skycons.js"></script>
    <!-- DateJS -->
    <script src="~/Scripts/date.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/daterangepicker.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/Scripts/custom.js"></script>
    <!-- Datatables -->
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.dataTables-zh-CN.js"></script>
    <script src="~/Scripts/comm.js"></script>
    <script src="~/Content/select/js/bootstrap-select.min.js"></script>
    <script>
        $.fn.iCheckParser = function () {
            if (this) {
                $(this).iCheck({
                    checkboxClass: 'icheckbox_minimal-blue',
                    radioClass: 'iradio_minimal-blue',
                    increaseArea: '20%' // optional
                })
            }
        }

        function loadView(url) {
            
        }

        $(function () {
        })
        loadView()
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
