@{
    com.yrtech.SurveyWeb.Models.AccountDto LoginUser = (com.yrtech.SurveyWeb.Models.AccountDto)Session["LoginUser"];
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type='text/javascript'>window.BWEUM || (BWEUM = {}); BWEUM.info = { "stand": true, "agentType": "browser", "agent": "browsercollector.oneapm.com/static/js/bw-send-416.7.31.js", "beaconUrl": "browsercollector.oneapm.com/beacon", "licenseKey": "VrjFJ~FEebem7IUf", "applicationID": 9992525 };</script>
    <script type="text/javascript" src="//browsercollector.oneapm.com/static/js/bw-loader-416.7.31.js"></script>

    <title>@ViewBag.Title</title>
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Content/font-awesome.css" rel="stylesheet">
    <link href="~/Content/minimal/_all.css" rel="stylesheet" />
    <link href="~/Content/minimal/blue.css" rel="stylesheet" />

    <link href="~/Content/bootstrapValidator/css/bootstrapValidator.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-table/bootstrap-table.css" rel="stylesheet" />

    <!-- Custom Theme Style -->
    <link href="~/Content/custom.css" rel="stylesheet" />
    <link href="~/Content/select/css/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Content/nprogress.css" rel="stylesheet" />
    <style>
        .modal-header{
            padding:10px;
        }

        h4{
            font-size:16px
        }

        .modal-body{
            padding:10px;
        }
    </style>

    <style>
        .operation {
            padding: 10px 0px;
            text-align: right;
        }

            .operation .btn {
                width: 100px;
            }

        .bootstrap-table .fixed-table-container.fixed-height .fixed-table-border {
            border-left: none;
            border-right: none;
        }

        .pictures {
            list-style: none;
            margin: 0;
            padding: 0;
        }

            .pictures > li {
                border: 1px solid transparent;
                float: left;
                height: calc(100% / 3);
                margin: 0 -1px -1px 0;
                overflow: hidden;
                width: calc(100% / 3);
            }

                .pictures > li > img {
                    cursor: zoom-in;
                    width: 100%;
                }
    </style>
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="../Home/Index" class="site_title">@*<i class="fa fa-paw"></i>*@ <span>调研云平台</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul id="mainMenu" class="nav side-menu">
                                
                            </ul> 
                        </div>

                    </div>
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="/Content/image/user.png" alt=""> 欢迎, @LoginUser.AccountName &nbsp;
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right" style="width:100px">
                                    <li><a href="javascript:changePassword()"> 修改密码</a></li>
                                    <li><a href="/Account/Logoff"><i class="fa fa-sign-out pull-right"></i> 注销</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @*<iframe id="ContentFrame" width="100%" border="0" frameborder="no" style="overflow-x: hidden"></iframe>*@
                @RenderBody()
            </div>
        </div>
    </div>
    <script>
        var loginUser = JSON.parse('@Html.Raw(Json.Encode(LoginUser))');
    </script>
    <!-- jQuery -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- jQuery-ui -->
    <script src="~/Scripts/jquery-ui.js"></script>
    <!-- Bootstrap -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Scripts/fastclick.js"></script>
    <!-- iCheck -->
    <script src="~/Scripts/icheck.js"></script>
    <!-- Skycons -->
    <script src="~/Scripts/skycons.js"></script>
    <!-- DateJS -->
    <script src="~/Scripts/date.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/daterangepicker.js"></script>
    <!-- Custom Theme Scripts -->
    @*<script src="~/Scripts/custom.js"></script>*@
    <script src="~/Scripts/common.js"></script>

    <script src="~/Scripts/comm.js"></script>
    <script src="~/Content/select/js/bootstrap-select.js"></script>

    <script src="~/Content/bootstrap-table/bootstrap-table.js"></script>
    <script src="~/Content/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>

    <script src="~/Content/bootstrapValidator/js/bootstrapValidator.min.js"></script>
    <script src="~/Content/bootstrapValidator/js/language/zh_CN.js"></script>
    <script src="~/Scripts/nprogress.js"></script>
    <script src="~/Content/bootstrap-table/extensions/colResizable-1.6.min.js"></script>
    <script src="~/Content/bootstrap-table/extensions/bootstrap-table-resizable.js"></script>

    <script>
        //加载登录用户
        var loginUser;
        if (window.localStorage.userJson) {
            loginUser = JSON.parse(window.localStorage.userJson);
            console.log('loginUser', loginUser)
            //动态加载菜单
            var menuHtml = '<li class="main-page"><a href="/Home/Main"> <i class="fa fa-home"></i> 首页 </a> </li>'
            menuHtml += '<li class="main-page"><a href="/Operate/RecheckStatusIndex"> <i class="fa fa-home"></i> 审核状态运营 </a> </li>'
            menuHtml += '<li class="main-page"><a href="/Operate/ScoreOperateIndex"> <i class="fa fa-home"></i> 得分运营 </a> </li>'
            //menuHtml += '<li class="main-page"><a href="/Recheck/RecheckBatchIndex"> <i class="fa fa-home"></i> 批量编辑 </a> </li>'
            //menuHtml += '<li class="main-page"><a href="/Recheck/FirstRecheckIndex"> <i class="fa fa-home"></i> 一审 </a> </li>'
            //menuHtml += '<li class="main-page"><a href="/Recheck/SecondRecheckIndex"> <i class="fa fa-home"></i> 二审 </a> </li>'
            loginUser.RoleProgramList.forEach(function (m, i) {
                var mli =  '<li id="'+m.ProgramCode+'">'
                var mLink = '<a><i class="fa fa-user"></i> '+m.MenuName+'<span class="fa fa-chevron-down"></span></a>'
                menuHtml+=mli
                menuHtml+=mLink 
                if( m.ChildMenu &&  m.ChildMenu.length>0){
                    menuHtml+='<ul class="nav child_menu">'
                    m.ChildMenu.forEach(function (sm, i) {
                        menuHtml+='<li><a href="'+sm.Url+'">'+sm.MenuName+'</a></li>'                       
                    })
                    menuHtml+='</ul>'
                }
               
                menuHtml+='</li>' 
            })
            $('#mainMenu').html(menuHtml)
            //根据权限显示菜单
            //if(loginUser.RoleType == 'S_Sysadmin'|| loginUser.RoleType == 'S_BrandSysadmin'){
            //    {
            //        $('#mainMenu>li').show();
            //        $('#recheckMoudel').show();
            //        $('#recheckStatusIndex').show();
            //        $('#recheckIndex').show();
            //        $('#recheckModify').show();
            //        $('#recheckConfirm').show();
            //        $('#spotCheck1').show();
            //        $('#spotCheck2').show();
            //    }
            //} else if (loginUser.RoleType == 'S_Recheck') {
            //    //$('#executeMoudel').show()
            //    $('#recheckMoudel').show();
            //    $('#recheckStatusIndex').show();
            //    $('#recheckIndex').show();

            //} else if (loginUser.RoleType == 'S_Execute')
            //{
            //    $('#recheckMoudel').show();
            //    $('#recheckModify').show();
            //    $('#recheckStatusIndex').show();
                
            //}
            //else if (loginUser.RoleType == 'S_SurperVision') {
            //    $('#recheckMoudel').show();
            //    $('#spotCheck1').show();
            //}
            //else if (loginUser.RoleType == 'S_Customer') {
            //    $('#recheckMoudel').show();
            //    $('#recheckStatusIndex').show();
            //}
            
        } else {
            alert("没有登录用户，跳转到登录界面！");
            window.location.href = "/Account/Login";
        }

        $.fn.iCheckParser = function () {
            if (this) {
                $(this).iCheck({
                    checkboxClass: 'icheckbox_minimal-blue',
                    radioClass: 'iradio_minimal-blue',
                    increaseArea: '20%' // optional
                })
            }
        }

        $(document).on("show.bs.modal", ".modal", function () {
            // draggable 属性规定元素是否可拖动
            $(this).draggable({
                handle: ".modal-header", // 只能点击头部拖动
                cursor: 'move' //光标呈现为指示链接的指针（一只手）,
            });
            $(this).css("overflow", "hidden"); // 防止出现滚动条，出现的话，你会把滚动条一起拖着走的
        });

        function changePassword() {
            $(".right_col div").remove();
            $(".right_col").append($("<div>"));
            $(".right_col div").load("/Account/ChangePassword", {}, function () {

            })
        }

        //取窗口可视范围的高度
        function getClientHeight() {
            var clientHeight = 0;
            if (document.body.clientHeight && document.documentElement.clientHeight) {
                clientHeight = document.documentElement.clientHeight;
            }
            else {
                clientHeight = document.documentElement.clientHeight;
            }
            return clientHeight;
        }
    </script>
    @RenderSection("scripts", required: false)

    <style>
        .bootstrap-table .fixed-table-container.fixed-height:not(.has-footer) {
            border: 1px solid #dee2e6;
        }
    </style>
</body>
</html>
