@{
    com.yrtech.SurveyWeb.Models.AccountDto LoginUser = (com.yrtech.SurveyWeb.Models.AccountDto)Session["LoginUser"];
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script type='text/javascript'>window.BWEUM || (BWEUM = {}); BWEUM.info = { "stand": true, "agentType": "browser", "agent": "browsercollector.oneapm.com/static/js/bw-send-416.7.31.js", "beaconUrl": "browsercollector.oneapm.com/beacon", "licenseKey": "VrjFJ~FEebem7IUf", "applicationID": 9992525 };</script>
    <script type="text/javascript" src="//browsercollector.oneapm.com/static/js/bw-loader-416.7.31.js"></script>

    <title>@ViewBag.Title</title>
    <!-- Bootstrap -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Content/font-awesome.css" rel="stylesheet">
    <link href="~/Content/minimal/_all.css" rel="stylesheet" />
    <link href="~/Content/minimal/blue.css" rel="stylesheet" />

    <link href="~/Content/bootstrapValidator/css/bootstrapValidator.min.css" rel="stylesheet" />

    <link href="~/Content/bootstrap-table/bootstrap-table.css" rel="stylesheet" />

    <!-- Custom Theme Style -->
    <link href="~/Content/custom.css" rel="stylesheet" />
    <link href="~/Content/select/css/bootstrap-select.css" rel="stylesheet" />
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="../Home/Index" class="site_title">@*<i class="fa fa-paw"></i>*@ <span>调研云平台</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                <li class="main-page">
                                    <a href="/Home/Main"> <i class="fa fa-home"></i> 首页 </a>
                                </li>
                                <li>
                                    <a><i class="fa fa-area-chart"></i>执行准备<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/ProjectContent/ProjectIndex">期号设置</a></li>
                                        <li><a href="/ProjectContent/SubjectIndex">题目设置</a></li>
                                        <li><a href="/ProjectContent/ProjectShopIndex">经销商卷别</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-area-chart"></i>现场执行<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/ProjectContent/AnswerShopInfoIndex">进店信息管理</a></li>
                                        <li><a href="/ProjectContent/ScoreIndex">得分管理</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-area-chart"></i>复审管理<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/Recheck/RecheckIndex">复审管理</a></li>
                                        <li><a href="/Recheck/RecheckStatusIndex">进度管理</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-area-chart"></i> 报告管理<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/Report/Index">报告发布</a></li>
                                        <li><a href="/Report/LogIndex">报告下载日志</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-home"></i>申诉管理<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/Appeal/AppealSet">申诉设置</a></li>
                                        <li><a href="/Appeal/AppealIndex">申诉反馈列表</a></li>
                                        <li><a href="/Appeal/AppealStat">申诉统计</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-info"></i> 厂商组织管理<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/System/BrandIndex">品牌管理</a></li>
                                        <li><a href="/BrandContent/GroupIndex">集团管理</a></li>
                                        <li><a href="/BrandContent/AreaIndex">区域管理</a></li>
                                        <li><a href="/BrandContent/ShopIndex">经销商管理</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-user"></i> 账号管理<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/Account/ShopAccountIndex">厂商账号管理</a></li>
                                        <li><a href="/Account/SurveyAccountIndex">调研账号管理</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><i class="fa fa-user"></i> 基础信息设置<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/Home/LabelIndex">标签管理</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a><i class="fa fa-camera" aria-hidden="true"></i> 轻松拍<span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="/EasyPhoto/EasyPhotoProjectIndex">期号管理</a></li>
                                        <li><a href="/EasyPhoto/EasyPhotoUserInfoIndex">账号管理</a></li>
                                        <li><a href="/EasyPhoto/EasyPhotoCheckTypeIndex">检查类型管理</a></li>
                                        <li><a href="/EasyPhoto/EasyPhotoNoteIndex">备注管理</a></li>
                                        <li><a href="/EasyPhoto/EasyPhotoPhotoListIndex">拍照点管理</a></li>
                                        <li><a href="/EasyPhoto/EasyPhotoExtendColumnIndex">扩展列管理</a></li>
                                        <li><a href="/EasyPhoto/EasyPhotoAnswerIndex">清单管理</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="/Content/image/user.png" alt=""> 欢迎, @LoginUser.AccountName &nbsp;
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right" style="width:100px">
                                    <li><a href="javascript:changePassword()"> 修改密码</a></li>
                                    <li><a href="/Account/Logoff"><i class="fa fa-sign-out pull-right"></i> 注销</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                @*<iframe id="ContentFrame" width="100%" border="0" frameborder="no" style="overflow-x: hidden"></iframe>*@
                @RenderBody()
            </div>
        </div>
    </div>
    <script>
        var loginUser = JSON.parse('@Html.Raw(Json.Encode(LoginUser))');
    </script>
    <!-- jQuery -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- jQuery-ui -->
    <script src="~/Scripts/jquery-ui.js"></script>
    <!-- Bootstrap -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Scripts/fastclick.js"></script>
    <!-- iCheck -->
    <script src="~/Scripts/icheck.js"></script>
    <!-- Skycons -->
    <script src="~/Scripts/skycons.js"></script>
    <!-- DateJS -->
    <script src="~/Scripts/date.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/daterangepicker.js"></script>
    <!-- Custom Theme Scripts -->
    @*<script src="~/Scripts/custom.js"></script>*@
    <script src="~/Scripts/common.js"></script>

    <script src="~/Scripts/comm.js"></script>
    <script src="~/Content/select/js/bootstrap-select.min.js"></script>

    <script src="~/Content/bootstrap-table/bootstrap-table.js"></script>
    <script src="~/Content/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>

    <script src="~/Content/bootstrapValidator/js/bootstrapValidator.min.js"></script>
    <script src="~/Content/bootstrapValidator/js/language/zh_CN.js"></script>
    <script>
        //加载登录用户
        var loginUser;
        if (window.localStorage.userJson) {
            loginUser = JSON.parse(window.localStorage.userJson);
        } else {
            alert("没有登录用户，跳转到登录界面！");
            window.location.href = "/Account/Login";
        }

        $.fn.iCheckParser = function () {
            if (this) {
                $(this).iCheck({
                    checkboxClass: 'icheckbox_minimal-blue',
                    radioClass: 'iradio_minimal-blue',
                    increaseArea: '20%' // optional
                })
            }
        }

        $(document).on("show.bs.modal", ".modal", function () {
            // draggable 属性规定元素是否可拖动
            $(this).draggable({
                handle: ".modal-header", // 只能点击头部拖动
                cursor: 'move' //光标呈现为指示链接的指针（一只手）,
            });
            $(this).css("overflow", "hidden"); // 防止出现滚动条，出现的话，你会把滚动条一起拖着走的
        });

        function changePassword() {
            $(".right_col div").remove();
            $(".right_col").append($("<div>"));
            $(".right_col div").load("/Account/ChangePassword", {}, function () {

            })
        }

        //取窗口可视范围的高度
        function getClientHeight() {
            var clientHeight = 0;
            if (document.body.clientHeight && document.documentElement.clientHeight) {
                clientHeight = document.documentElement.clientHeight;
            }
            else {
                clientHeight = document.documentElement.clientHeight;
            }
            return clientHeight;
        }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
